body {
    background-color: lightgray;
}

.floating {
    width: 50%;
    height: auto;
    float: left;
}

img {
    width: 100%;
    height: auto;
  }

.navbar {
    background-color: whitesmoke;
  }

@media (max-width: 575.5px) {
    .navbar {
        background-color: #c055c0;
    }
}